@import url(./middle.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
#dialog{
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    a{
        text-decoration: none;
        padding: 50px;
        line-height: 50px;
    }
    button{
        position: absolute;
        left: 92%;
    }
}
 #dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}
.hamburger-menu{
    display: none;
    @media screen and (width < 920px){
        display: flex;
        border: none;
        background-color:#fff;

    }
}

